.angular-google-map-container { height: 70vh; }

dd { margin-bottom: 10px; }

#top-navbar {background-color: #3F51B5}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #3F51B5;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  background-color: #8BC34A !important;
}

#brand-pic {
    background-color: #3F51B5;
    -ms-transform:skewX(-15deg);
    -webkit-transform:skewX(-15deg);
    transform:skewX(-15deg);
    font-weight: 900;
    margin-left:2.5em;
    text-align: center;
    color:white;
	z-index:1;
}
.logo{
	display:inline !important;
	top: -3px;
position: absolute;
left: 22px;
height: 80px;
z-index:2;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 55px;
  /*background-color: #C5CAE9;*/
  color: #212121 !important; 
  font-family: 'Raleway', sans-serif;
}
#navbar{
    overflow-x: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hiddenBar{
    font-size:1.2em;
    padding-top=0;
}
li<navbar-right{
    width: 85vw;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color : #9d9d9d;
}
/*
 * Global add-ons
 */
.navbar-collapse.in{
    overflow-y: hidden;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 
.menu{
	height:75px;
	left:-5px;
}

.right_menu{
	top:1vh;
    background-color: transparent;
    color: white;
     font-size: 1.2em;
}
.navbar-brand{
	font-size:2.5em;
}
.title{
    text-align: center;
    padding-top: 5px;
}
.container-fluid{
    height: inherit;
    padding-top: 10px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav>li>a:hover{
    color : white;
}
  .sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    font-size: 1.2em;
  }
    .menu_color{
	height:75px;
}
    .hiddenBar{
        display: none;
    }
    
    .navbar>.container-fluid .navbar-brand{
     vertical-align:middle;
        
 }
 .navbar>.container-fluid .navbar-brand{
     margin-left: 0px;
     margin-top: 1vh
 }
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover
.navbar-fixed-top .navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover{
  border: 0;
  background-color: transparent;
    color: white;
       
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
	font-size:1.4em;
	font-weight:bold;
}
    .right_menu{
        	margin-right:3vw;
    }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
.content{
    padding-top:25px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}