<h1 class="page-header">Browse</h1>

<div class="container-fluid">
  	<div class="row form-inline">
  		<div class="col-md-4">Search: <input ng-model="searchText"></div>
  		<div class="form-group col-md-8">
		    <label for="category-filter">Category</label>
		    <select class="form-control" id="category-filter" ng-model="categoryFilter">
		    	<option value="">--All--</option>
	  			<option value="Pot Holes">Pot Holes</option>
	  			<option value="Graffiti">Graffiti</option>
	  			<option value="Traffic Signals/Sign">Traffic Signals/Sign</option>
	  			<option value="Property Maintenance">Property Maintenance</option>
	  			<option value="Dumping Violations">Dumping Violations</option>
	  			<option value="Advertising Sign Violations">Advertising Sign Violations</option>
	  			<option value="Water Line Breaks">Water Line Breaks</option>
	  			<option value="Sewer Overflow or Break">Sewer Overflow or Break</option>
	  			<option value="Abandoned/Illegally Parked Vehicles">Abandoned/Illegally Parked Vehicles</option>
	  			<option value="Barking Dog">Barking Dog</option>
	  			<option value="Other Problems">Other Problems</option>
	  		</select>
		  </div>
  	</div>

  	<hr>

  	<div class="row">
  		<img ng-show="!isLoaded"src="/loading.gif" width="200px" class="img-responsive center-block"/>
			<table ng-show="isLoaded" id="searchTextResults" class="table table-bordered table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>
							<a ng-click="orderByField='category'; reverseSort = !reverseSort">
								Category <span ng-show="orderByField == 'category'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
							</a>
						</th>
						<th>
							<a ng-click="orderByField='complete'; reverseSort = !reverseSort">
								isComplete <span ng-show="orderByField == 'complete'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
							</a>
						</th>
						<th>
							<a ng-click="orderByField='status'; reverseSort = !reverseSort">
								Status <span ng-show="orderByField == 'status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
							</a>
						</th>
						<th>
							<a ng-click="orderByField='createtime'; reverseSort = !reverseSort">
								Date <span ng-show="orderByField == 'createtime'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
							</a>
						</th>
						<th>
							Show Details
						</th>
					</tr>
				</thead>
				<tbody>
			    <tr ng-repeat="issue in issues | orderBy:orderByField:reverseSort | filter:searchText | filter:{category:categoryFilter}">
			      <td>{{issue.category}}</td>
			      <td>{{issue.complete}}</td>
			      <td>
			      	<span ng-show="issue.status == 2" class="text-success">Acknowledged</span>
		  			<span ng-show="issue.status == 1" class="text-danger">Rejected</span>
		  			<span ng-show="issue.status == 0 || !issue.status">Not set</span>
			      </td>
			      <td>{{issue.createtime.toLocaleString()}}</td>
			      <td><a href="#/detail/{{issue.id}}">Click</a></td>
			    </tr>
			  </tbody>
			</table>
  	</div>
</div>


